footer.footer {
    padding-top: 83px;
    background-color: #000;
    width: 100%;
    height: auto;
    padding-top: 30px;
    color: #fff;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer.footer .footer-layout {
    width: 79%;
    max-width: 1620px;
    margin: 0 auto;

    padding: 0;
    border: 0;

    font: inherit;
    vertical-align: baseline;
}

footer.footer .footer-layout section.footer-top-section {
    display: flex;
    padding-bottom: 63px;
    border-bottom: solid 0.75px #333;
}

footer.footer .footer-layout section.footer-top-section .top-section-flex {
    width: 50%;
    border-bottom: none;
}

footer.footer .footer-layout section.footer-top-section .top-section-flex:first-child .logo-title-part a.footer-logo {
    margin-bottom: 62.6px;
    display : inline-block;
}

a {
    text-decoration: none;
    color: #000;
    all: unset;
    cursor: pointer;
}

footer.footer .footer-layout section.footer-top-section .top-section-flex:first-child .logo-title-part a.footer-logo img.footer-logo-img {
    width: 77.9px;
}

footer.footer .footer-layout section.footer-top-section .top-section-flex:first-child .logo-title-part .footer-title-flex h1.footer-title {
    font-size: 86px;
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: -0.6px;
}

footer.footer .footer-layout section.footer-top-section .top-section-flex:nth-child(2) h1.top-section-title {
    font-size: 86px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 6px;
}

footer.footer .footer-layout section.footer-top-section .top-section-flex:nth-child(2) h2.top-section-subtitle {
    margin-bottom: 109px;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: -0.48px;
    font-weight: normal;
}