
.blinkingCursor {
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
  border: solid 0.17857vw #00b564;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 0.35714vw;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  display: inline-block;
  background: #00b564;
  border-radius: 6px;
  height: 4.7619vw;
  width: 0;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.typer {
  width: 100pxdsf;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
    font-size: 5.59524vw;
    font-weight: bold;
    outline: none;
    padding-right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    z-index: 10;
    text-shadow: 0 0 1px #fff;
    caret-color: transparent;
    outline: none;
    max-width: 49vw;
    border-radius: 0;
    -webkit-appearance: none;
}

.move-arrow {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top : 170px;
  left: 25%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: moving 3.5s infinite;
  animation: moving 3.5s infinite;
}


@keyframes moving {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 20px;
  }
  50% {
    bottom: 40px;
  }
  75% {
    bottom: 20px;
  }
  100% {
    bottom: 40px;
  }
}

.searchLink{
    position: relative;
    border-bottom: solid 4px #000;
    line-height : 90px; 
}

.searchLink::after{
  content: "";
						position: absolute;
						top:25px;
						background: url('../imges/link.png') 50% 50% no-repeat;
						width:64px;
						height:64px;
						background-size: cover;
            z-index : 100;

}
.searchLink::visible{
  display:inline-block; transform:translateX(-110%);
}